@use "styles/layer-order";
@use "styles/helpers" as *;
@use "styles/color" as color;

@layer djui.components {
  .DjuiAvatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: var(--djui-component-avatar--size, 2.5rem);
    height: var(--djui-component-avatar--size, 2.5rem);
    border-radius: var(--djui-component-avatar--radius, 50%);
    overflow: hidden;
    background-color: var(--djui-component-avatar--background, rgb(var(--djui-next-surface-1-rgb)));

    &__image {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
    }

    &__fallback {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.5;
    }
  }
}
