@use "styles/layer-order";
@use "styles/helpers" as *;

@layer djui.components {
  .DjuiBadge {
    display: inline-flex;
    align-items: center;
    gap: 0.375em;
    padding: 0.25em 0.625em;
    border-radius: 999px;
    font-size: var(--djui-component-badge--size);
    line-height: 1.4;
    white-space: nowrap;
    @include djui-background-modifiers($accepts-hatched: true, $component: "badge");
  }
}
