@use "styles/layer-order";
@use "styles/helpers" as *;

@layer djui.components {
  .DjuiStepper {
    display: inline-flex;
    align-items: center;
    gap: var(--djui-component-stepper--gap, 0.5em);
    font-size: var(--djui-component-stepper--size, 1em);
    @include djui-disabled-slots;
    @include djui-radius-inherit;

    &--disabled {
      --djui-dim-resolved: 0.6;
    }

    &__value {
      min-width: 1.5em;
      text-align: center;
      border-radius: var(--djui-component-stepper--radius, 0.5rem);
      @include djui-focus-ring;
    }

    &__decrement, &__increment {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      width: var(--djui-component-stepper--button-size, 2em);
      height: var(--djui-component-stepper--button-size, 2em);
      @include djui-native-control-type;
      @include djui-native-control-box($background: null);
      padding: 0;
      @include djui-background-slots;
      @include djui-disabled-slots($cursor: pointer);
      border-radius: var(--djui-component-stepper--radius, 0.5rem);
      --djui-component-icon--size: 1em;
      --djui-component-icon--stroke-width: 2;
      @include djui-focus-ring;

      &:disabled {
        @include djui-disabled-claim($dim: 0.45);
      }
    }

    &:not(.DjuiStepper--colored):not(.DjuiStepper--surface-previous) &__decrement, &:not(.DjuiStepper--colored):not(.DjuiStepper--surface-previous) &__increment {
      @include djui-background-surface(true, "next-surface-1");
    }

    &:not(.DjuiStepper--colored).DjuiStepper--surface-previous &__decrement, &:not(.DjuiStepper--colored).DjuiStepper--surface-previous &__increment {
      @include djui-background-surface(true, "previous-surface-1");
    }

    &--colored &__decrement, &--colored &__increment {
      @include djui-background-surface-colored(true);
    }

    &--rounded {
      --djui-component-stepper--radius: 999px;
    }

    &--square {
      --djui-component-stepper--radius: 0;
    }
  }
}
